<mat-toolbar color="primary">ZPL</mat-toolbar>
<mat-tab-group  mat-stretch-tabs selectedIndex="0">
  <mat-tab label="Pre-Defined ZPL Templates">
    <div style="padding-top: 20px;padding-bottom: 20px;" fxLayout="row" fxLayoutAlign="space-around center">
      <div>
        <mat-form-field class="custom-form-field">
          <mat-label>Select type of Code</mat-label>
          <mat-select [(ngModel)]="tpyeOfCode">
            <mat-option value="qrCode">QR Code</mat-option>
            <!-- <mat-option value="barCode">Bar Code</mat-option> -->
          </mat-select>
        </mat-form-field>
        <div *ngIf="tpyeOfCode == 'qrCode'">
        <mat-form-field class="custom-form-field">
          <mat-label>Format of QR Code</mat-label>
          <mat-select [(ngModel)]="sizeOfCode" (ngModelChange)="formatChange($event);">
            <mat-option value="s">Only QR Code</mat-option>
            <mat-option value="m">QR Code with text at bottom</mat-option>
            <mat-option value="m1">QR Code with text at top</mat-option>
            <mat-option value="l">QR Code with left side text & bottom text</mat-option>
            <mat-option value="l1">QR Code with right side text & bottom text</mat-option>
          </mat-select>
        </mat-form-field>
        <div style="background: #CCC;">
            <div style="width: 300px;overflow: auto;">
              <pre>{{sampleDataObject | json}}</pre>
            </div>
            <div *ngIf="sampleBlobSrc"><img id="label" [src]="sampleBlobSrc" /></div>
            <div *ngIf="!sampleBlobSrc">Change to preview the sample</div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div style="padding-top: 20px;" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="createZPLFile();">Create ZPL File</button>
      <button mat-raised-button color="primary" (click)="printZPL('');">Print ZPL</button>
    </div>
    <div style="padding-top: 20px;" fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field>
        <input type="number" matInput #index placeholder="Start From"/>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="printFromSpecificIndex(index.value);">CreateZPLFromIndex</button>
      <button mat-raised-button color="primary" (click)="printZPL(index.value);">Print ZPL From Index</button>
    </div>
    <hr/>
    <div style="padding-top: 20px;padding-bottom: 20px;" fxLayout="row wrap" fxLayoutGap="1em">
      <mat-chip-list *ngFor="let zp of zplArr">
        <mat-chip fxFlex="100">{{zp.zplCode}}</mat-chip>
      </mat-chip-list>
    </div>
    <hr/>
    <div fxLayout="row" fxLayoutAlign="space-around center"> 
      <div><p style="font-size: 20px;font-weight: bold;">Complete Offline System!</p></div>
    </div>
    <div style="padding-top: 20px;" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="warn" (click)="file.click();">Upload ZPL  <mat-icon>cloud_upload</mat-icon></button>
      <input style="display: none;visibility: hidden;" type="file" (change)="uploadZPL($event);" accept=".zpl" #file>
      <button mat-raised-button color="primary" [disabled]="zplCode == ''" (click)="printZPLFormFile();">Print ZPL</button>
      <button mat-raised-button color="primary" [disabled]="zplCode == ''" (click)="this.zplCode = ''">Delete <mat-icon>delete</mat-icon></button>
    </div>
    <div style="padding-top: 20px;" fxLayout="row" fxLayoutAlign="center center" *ngIf="zplCode">
      <textarea [(ngModel)]="zplCode" rows="20" cols="200" placeholder="Read From Input ZPL File" matInput disabled></textarea>
    </div>
  </mat-tab>
  <mat-tab label="Customizable ZPL Templates">
    <div style="padding-top: 20px;">
      <div fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
            <div>
                <mat-form-field class="custom-form-field">
                  <input matInput [(ngModel)]="width" placeholder="Width(inches)*" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="custom-form-field">
                  <input matInput [(ngModel)]="height" placeholder="Height(inches)*" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="custom-form-field">
                  <mat-label>Print Density</mat-label>
                  <mat-select [(ngModel)]="printDensity">
                    <mat-option value="6">6dpmm (152 dpi)</mat-option>
                    <mat-option value="8">8dpmm (203 dpi)</mat-option>
                    <mat-option value="12">12dpmm (300 dpi)</mat-option>
                    <mat-option value="24">24dpmm (600 dpi)</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
        </div>
        <div fxFlex>
          <p style="font-weight: bold;">Pre-Defined Fonts</p>
          <img src="assets/fonts.png" width="300" height="300" />
        </div>
      </div>
      <hr/>
      <mat-toolbar color="primary"> Create Format</mat-toolbar>
      <div style="padding-top: 20px;padding-bottom: 20px;" fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" (click)="AddNewField();">click to Add <mat-icon>add</mat-icon></button>
      </div>
        <form [formGroup]="ZPLForm" (submit)="generateZpl();">
          <!-- <pre>{{ZPLForm.controls.zplCodes.value |   json}}</pre> -->
          <div formArrayName="zplCodes">
            <div *ngFor="let zpl of codes.controls; let i = index" [formGroupName]="i">
              <div fxLayout="row" fxLayoutAlign="space-around center">
              <mat-form-field class="preview-field">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="^FD">Text</mat-option>
                  <mat-option value="^BQ,2">QR Code</mat-option>
                  <mat-option value="^BXN">Data Matrix</mat-option>
                  <!-- <mat-option value="barCode">Bar Code</mat-option> -->
                  <mat-option value="^GB">Border</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^FD'">
                <mat-label>Font Family / Weights</mat-label>
                <mat-select formControlName="textWeight">
                  <mat-option value="^CFA">Font A (Lighter)</mat-option>
                  <mat-option value="^CFB">Font B</mat-option>
                  <mat-option value="^CFD">Font D</mat-option>
                  <mat-option value="^CFE">Font E</mat-option>
                  <mat-option value="^CFF">Font F</mat-option>
                  <mat-option value="^CFG">Font G</mat-option>
                  <mat-option value="^CFH">Font H</mat-option>
                  <mat-option value="^CF0">0 (Scaleable)</mat-option>
                  <!-- <mat-option value="^CFGS">GS (for symbols so ignored)</mat-option> -->
                  <mat-option value="^CFP">Font P</mat-option>
                  <mat-option value="^CFQ">Font Q</mat-option>
                  <mat-option value="^CFR">Font R</mat-option>
                  <mat-option value="^CFS">Font S</mat-option>
                  <mat-option value="^CFT">Font T</mat-option>
                  <mat-option value="^CFU">Font U</mat-option>
                  <mat-option value="^CFV">Font V</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^BQ,2'">
                  <mat-label>QR Code Magnification</mat-label>
                  <mat-select formControlName="textWeight">
                      <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^FD'">
                <mat-label>Size</mat-label>
                <mat-select formControlName="size">
                    <mat-option *ngFor="let i of [10,20,30,40,50,60,70,80,90,100]" value="{{i}}">{{i}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^BQ,2'">
                  <mat-label>Error Correction</mat-label>
                  <mat-select formControlName="size">
                      <mat-option *ngFor="let i of ['H','Q','M','L']" value="{{i}}">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^BXN'">
                  <mat-label>Magnification</mat-label>
                  <!-- <mat-select formControlName="textWeight">
                      <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</mat-option>
                  </mat-select> -->
                  <input type="number" min="0" matInput formControlName="textWeight" placeholder="Error Correction / Quality Level" />
                </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^BXN'">
                  <mat-label>Error Correction / Quality Level</mat-label>
                  <!-- 0, 50, 80, 100, 140, 200 -->
                  <mat-select formControlName="size">
                      <mat-option *ngFor="let i of [200]" value="{{i}}">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-form-field class="preview-field">
                <input type="number" min="0" matInput formControlName="x" placeholder="X (Postion)" />
              </mat-form-field>
              <mat-form-field class="preview-field">
                <input type="number" min="0" matInput formControlName="y" placeholder="Y (Postion)" />
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^GB'">
                <input type="number" min="0" matInput formControlName="length" placeholder="Length" />
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^GB'">
                <input type="number" min="0" matInput formControlName="breadth" placeholder="Breadth" />
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^GB'">
                <mat-label>Thickness</mat-label>
                <mat-select formControlName="textWeight">
                    <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type != '^GB'">
                <input type="text" matInput formControlName="text" placeholder="Text" />
              </mat-form-field>
              <button mat-button color="warn" (click)="DeleteField(i);">Delete <mat-icon>delete</mat-icon></button>
            </div>
            </div>
          </div>
          <button type="submit" *ngIf="ZPLForm.controls.zplCodes.length> 0" mat-raised-button color="primary" fxLayoutAlign="center">Generate ZPL</button>
          <button style="margin-top: 20px;" *ngIf="ZPLForm.controls.zplCodes.length> 0" mat-raised-button color="primary" (click)="callApi();">Generate</button>
        </form>
    </div>
    
    <div style="visibility: hidden;display: none !important;">
      <p>Drag & Drop...</p>
      <div class="example-boundary" [ngStyle]="{'height' : height+'in', 'width' : width+'in'}">
        <!-- <div class="example-box" (cdkDragEnded)="drop($event)" cdkDragBoundary=".example-boundary" cdkDrag [style.top.px]="initialPosition.y"
        [style.left.px]="initialPosition.x"></div> -->
        <div *ngFor="let x of ZPLForm.controls.zplCodes.value;let i = index" class="example-box" (cdkDragEnded)="drop($event,x.x,x.y,i)" [style.top.px]="x.y"
        [style.left.px]="x.x"  cdkDragBoundary=".example-boundary" cdkDrag>
          <div *ngIf="x.type == '^FD'">{{x.text}}</div>
          <div *ngIf="x.type == '^BQ,2'">QR Code</div>
        </div>
      </div>
    </div>
    
    <div fxLayout="row">
      <div fxFlex>
          <div fxLayout="column" fxLayoutAlign="space-around center">
              <div>
                <mat-form-field class="custom-form-field">
                    <textarea [(ngModel)]="zplCode" rows="20" cols="40" matInput placeholder="Generated ZPL code" disabled></textarea>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="callApi();">Generate</button>
              </div>
            </div>
      </div>
      <div fxFlex>
        <div *ngIf="blobSrc">
          <div>
            <mat-form-field>
              <input matInput placeholder="Label / Format Name" [(ngModel)]="formatName" required/>
            </mat-form-field>
          </div>
          <img id="label" [src]="blobSrc" />
          <div fxLayout="column" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" (click)="testPrint();">Test Print</button>
            <button style="margin-top: 20px;" mat-raised-button color="primary" (click)="saveZPLCode();">Save <mat-icon>save</mat-icon></button>
          </div>
        </div>
        <div *ngIf="!blobSrc">Please click on Generate</div>
      </div>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Drag">
    <div style="padding-top: 20px;">
      <div fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
            <div>
                <mat-form-field class="custom-form-field">
                  <input matInput [(ngModel)]="width" placeholder="Width(inches)*" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="custom-form-field">
                  <input matInput [(ngModel)]="height" placeholder="Height(inches)*" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="custom-form-field">
                  <mat-label>Print Density</mat-label>
                  <mat-select [(ngModel)]="printDensity">
                    <mat-option value="6">6dpmm (152 dpi)</mat-option>
                    <mat-option value="8">8dpmm (203 dpi)</mat-option>
                    <mat-option value="12">12dpmm (300 dpi)</mat-option>
                    <mat-option value="24">24dpmm (600 dpi)</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
        </div>
        <div fxFlex></div>
      </div>
      <div style="padding-bottom: 20px;" fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" (click)="AddNewField();">click to Add <mat-icon>add</mat-icon></button>
      </div>
        <form [formGroup]="ZPLForm" (submit)="generateZpl();">
          <div formArrayName="zplCodes">
            <div *ngFor="let zpl of codes.controls; let i = index" [formGroupName]="i">
              <div fxLayout="row" fxLayoutAlign="space-around center">
              <mat-form-field class="preview-field">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="^FD">Text</mat-option>
                  <mat-option value="^BQ,2">QR Code</mat-option>
                  <mat-option value="barCode">Bar Code</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^FD'">
                <mat-label>Text Weight (Bold/Light)</mat-label>
                <mat-select formControlName="textWeight">
                  <mat-option value="^CFA">Lighter</mat-option>
                  <mat-option value="^CF0">Bolder</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^BQ,2'">
                  <mat-label>QR Code Magnification</mat-label>
                  <mat-select formControlName="textWeight">
                      <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^FD'">
                <mat-label>Size</mat-label>
                <mat-select formControlName="size">
                    <mat-option *ngFor="let i of [10,20,30,40,50,60,70,80,90,100]" value="{{i}}">{{i}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="preview-field" *ngIf="ZPLForm.controls.zplCodes.value[i].type == '^BQ,2'">
                  <mat-label>Error Correction</mat-label>
                  <mat-select formControlName="size">
                      <mat-option *ngFor="let i of ['H','Q','M','L']" value="{{i}}">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-form-field class="preview-field">
                <input type="number" min="0" matInput formControlName="x" placeholder="X (Postion)" />
              </mat-form-field>
              <mat-form-field class="preview-field">
                <input type="number" min="0" matInput formControlName="y" placeholder="Y (Postion)" />
              </mat-form-field>
              <mat-form-field class="preview-field">
                <input type="text" matInput formControlName="text" placeholder="Text" />
              </mat-form-field>
              <button mat-button color="warn" (click)="DeleteField(i);">Delete <mat-icon>delete</mat-icon></button>
            </div>
            </div>
          </div>
          <button type="submit" *ngIf="ZPLForm.controls.zplCodes.length> 0" mat-raised-button color="primary" fxLayoutAlign="center">Generate ZPL</button>
          <button style="margin-top: 20px;" *ngIf="ZPLForm.controls.zplCodes.length> 0" mat-raised-button color="primary" (click)="callApi();">Generate</button>
        </form>
    </div>
    
    <div>
      <p>Drag & Drop...</p>
      <div class="example-boundary" [ngStyle]="{'height' : height+'in', 'width' : width+'in'}">
        <div *ngFor="let x of ZPLForm.controls.zplCodes.value;let i = index" [style.top.px]="x.y"
        [style.left.px]="x.x" class="example-box" (cdkDragEnded)="drop($event,x.x,x.y,i)"   cdkDragBoundary=".example-boundary" cdkDrag>
          <div>
            <span *ngIf="x.type == '^FD'" >{{x.text}}</span>
            <span *ngIf="x.type == '^BQ,2'">QR Code</span>
          </div>
        </div>
      </div>
    </div>
    
    <div fxLayout="row">
      <div fxFlex>
          <div fxLayout="column" fxLayoutAlign="space-around center">
              <div>
                <mat-form-field class="custom-form-field">
                    <textarea [(ngModel)]="zplCode" rows="20" cols="40" matInput placeholder="Generated ZPL code"></textarea>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="callApi();">Generate</button>
              </div>
            </div>
      </div>
      <div fxFlex>
        <div *ngIf="blobSrc"><img style="border: 1px solid darkgray;" [ngStyle]="{'height' : height+'in', 'width' : width+'in'}"  [src]="blobSrc" /></div>
        <div *ngIf="!blobSrc">Please click on Generate</div>
      </div>
    </div>
  </mat-tab> -->
  <mat-tab label="LinkFormat">
    <div style="padding-top: 20px;">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <mat-form-field>
              <mat-label>Select QR Code</mat-label>
              <mat-select [(ngModel)]="selectedFormat">
                <mat-option *ngFor="let qr of qrCodes" [value]="qr.id">
                  {{qr.formatData ? qr.formatData.formatName : ''}}
                  <!-- {{qr.formatData | json}} -->
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div>
          <!-- <pre>{{allSKU | json}}</pre> -->
          <mat-form-field>
              <mat-label>Select SKU</mat-label>
              <mat-select [(ngModel)]="selectedSKU" multiple>
                <mat-option *ngFor="let sku of allSKU" [value]="sku.id">
                  {{sku.brandAndSku}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div style="padding-top: 20px;" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="saveLinkSKUFormat();">Link SKU & Format</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<ngx-spinner></ngx-spinner>
