<mat-toolbar color="primary">
  <div fxLayoutAlign="center">Label Format Creation</div>
</mat-toolbar>
<div style="margin: 20px 80px;">
    <div fxLayout="column" fxLayoutAlign="start">
        <div fxFlex="40%">
          <div fxFlex="40%" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <mat-form-field class="custom-form-field">
                <input matInput [(ngModel)]="width" placeholder="Width(inches)*" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="custom-form-field">
                <input matInput [(ngModel)]="height" placeholder="Height(inches)*" />
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <div>
            <p>Print Density* : {{printDensity}}dpmm</p>
        </div>
    </div>
            
    <mat-form-field>
        <mat-label>No. Of labels In a row</mat-label>
        <mat-select (selectionChange)="onChangelabels($event);">
            <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" (click)="AddNew();">Click to Add <mat-icon>add</mat-icon></button>
    </div>

    <div *ngFor="let x of myArr;let i = index; let first = first; let last = last" [class.first-item]="first"
    [class.last-item]="last">
        <mat-toolbar class="label-toolbar">Label {{i+1}}</mat-toolbar>
        <div *ngFor="let c of x.Codes;let j = index" style="padding: 20px 0;">
            <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field class="preview-field">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="c.type">
                    <mat-option value="^FD">Text</mat-option>
                    <mat-option value="^BQ,2">QR Code</mat-option>
                    <mat-option value="^BXN">Data Matrix</mat-option>
                    <mat-option value="^GB">Border</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^FD'">
                <mat-label>Font Family / Weights</mat-label>
                <mat-select [(ngModel)]="c.textWeight">
                    <mat-option value="^CFA">Font A (Lighter)</mat-option>
                    <mat-option value="^CFB">Font B</mat-option>
                    <mat-option value="^CFD">Font D</mat-option>
                    <mat-option value="^CFE">Font E</mat-option>
                    <mat-option value="^CFF">Font F</mat-option>
                    <mat-option value="^CFG">Font G</mat-option>
                    <mat-option value="^CFH">Font H</mat-option>
                    <mat-option value="^CF0">0 (Scaleable)</mat-option>
                    <mat-option value="^CFP">Font P</mat-option>
                    <mat-option value="^CFQ">Font Q</mat-option>
                    <mat-option value="^CFR">Font R</mat-option>
                    <mat-option value="^CFS">Font S</mat-option>
                    <mat-option value="^CFT">Font T</mat-option>
                    <mat-option value="^CFU">Font U</mat-option>
                    <mat-option value="^CFV">Font V</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^FD'">
                <mat-label>Text Orientation</mat-label>
                <mat-select [(ngModel)]="c.textOrientation">
                    <mat-option value="^FWN">Normal (0&#176;)</mat-option>
                    <mat-option value="^FWR">Reverse (90&#176;)</mat-option>
                    <mat-option value="^FWI">Inverted (180&#176;)</mat-option>
                    <mat-option value="^FWB">Read From bottom (270&#176;)</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^BQ,2'">
                <mat-label>QR Code Magnification</mat-label>
                <mat-select [(ngModel)]="c.textWeight">
                    <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^FD'">
                <mat-label>Size</mat-label>
                <mat-select [(ngModel)]="c.size">
                    <mat-option *ngFor="let i of [10,20,30,40,50,60,70,80,90,100]" value="{{i}}">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^BQ,2'">
                <mat-label>Error Correction</mat-label>
                <mat-select [(ngModel)]="c.size">
                    <mat-option *ngFor="let i of ['H','Q','M','L']" value="{{i}}">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^BXN'">
                <mat-label>Magnification</mat-label>
                <input type="number" min="0" matInput [(ngModel)]="c.textWeight" placeholder="Error Correction / Quality Level" />
            </mat-form-field>
            <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^BXN'">
                <mat-label>Error Correction / Quality Level</mat-label>
                <mat-select [(ngModel)]="c.size">
                    <mat-option *ngFor="let i of [200]" value="{{i}}">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="preview-field">
            <input type="number" min="0" matInput [(ngModel)]="c.x" placeholder="X (Postion)" />
            </mat-form-field>
                <mat-form-field class="preview-field">
                    <input type="number" min="0" matInput [(ngModel)]="c.y" placeholder="Y (Postion)" />
                </mat-form-field>
                <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^GB'">
                    <input type="number" min="0" matInput [(ngModel)]="c.length" placeholder="Length" />
                </mat-form-field>
                <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^GB'">
                    <input type="number" min="0" matInput [(ngModel)]="c.breadth" placeholder="Breadth" />
                </mat-form-field>
                <mat-form-field class="preview-field" *ngIf="x.Codes[j].type == '^GB'">
                    <mat-label>Thickness</mat-label>
                    <mat-select [(ngModel)]="c.textWeight">
                        <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="preview-field" *ngIf="x.Codes[j].type != '^GB'">
                    <mat-label>Text</mat-label>
                    <mat-select [(ngModel)]="c.text">
                      <mat-option value="cName">Company Name</mat-option>
                      <mat-option value="expDate">Expiry Date</mat-option>
                      <mat-option value="mfgDate">Mfg. Date</mat-option>
                      <mat-option value="012345678901">QR Code</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- dummy label -->
                <mat-form-field class="preview-field" *ngIf="(x.Codes[j].type == '^BQ,2' || x.Codes[j].type == '^BXN' || x.Codes[j].type == '^GB')" style="visibility: hidden;">
                    <input type="number" min="0" matInput [(ngModel)]="c.x" placeholder="X (Postion)" />
                </mat-form-field>
                <!-- dummy label -->
            </div>
        </div>
    </div>

    <div style="padding-top: 20px;padding-bottom: 20px;" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="generateZpl();">Generate & Preview</button>
    </div>

    <div style="width: 100%;margin: auto; padding-bottom: 40px;" *ngIf="blobSrc">
        <img id="label" [src]="blobSrc" />
    </div>
    <div>
        <div *ngIf="blobSrc">
          <div>
            <mat-form-field>
              <input matInput placeholder="Label / Format Name" [(ngModel)]="formatName" required/>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" (click)="testPrint();">Test Print</button>
            <button style="margin-top: 20px;" mat-raised-button color="primary" (click)="saveZPLCode();">Save <mat-icon>save</mat-icon></button>
          </div>
        </div>
      </div>
</div>

<mat-toolbar color="primary">
  <div fxLayoutAlign="center">Generate Codes</div>
</mat-toolbar>
<div style="margin: 30px 80px 20px" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-form-field class="custom-form-field">
        <mat-label>Dal Brand & SKU Id:</mat-label>
        <mat-select [(ngModel)]="brandSKU">
          <mat-option *ngFor="let dal of dalBrandSKU" [value]="dal.id">{{dal.brandAndSku}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field class="custom-form-field">
            <mat-label>Level:</mat-label>
            <mat-select [(ngModel)]="level">
              <mat-option *ngFor="let lvl of levels" [value]="lvl">{{lvl}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="custom-form-field">
            <mat-label>Version:</mat-label>
            <mat-select [(ngModel)]="version">
              <mat-option *ngFor="let ver of versions" [value]="ver">{{ver}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="custom-form-field">
            <mat-label>Dal Encryption:</mat-label>
            <mat-select [(ngModel)]="dalEncryption">
              <mat-option *ngFor="let dal of dalEncryptions" [value]="dal.id">{{dal.encryptionName}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
      <mat-form-field class="custom-form-field" style="visibility: hidden;">
          <mat-label>Dal Encryption:</mat-label>
          <mat-select [(ngModel)]="dalEncryption">
            <mat-option *ngFor="let dal of dalEncryptions" [value]="dal.id">{{dal.encryptionName}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  </div>

  <div style="margin: 20px 80px" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="carryingCapacity" placeholder="Carrying Capacity"/>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="batch" placeholder="Batch"/>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="mfg" placeholder="MFD"/>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field >
            <input matInput [(ngModel)]="expiry" placeholder="Expiry"/>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field >
            <input matInput [(ngModel)]="noOfCodes" placeholder="No. of Codes"/>
          </mat-form-field>
    </div>
  </div>
  <div style="padding-top: 20px;" fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="generateQRCode();">Generate QR Code</button>
  </div>

  <hr/>

  <div style="margin: 30px 80px 20px" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <mat-form-field>
            <input matInput placeholder="Batch"/>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="custom-form-field">
            <mat-label>Level:</mat-label>
            <mat-select [(ngModel)]="level">
              <mat-option *ngFor="let lvl of levels" [value]="lvl">{{lvl}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="custom-form-field">
            <mat-label>Version:</mat-label>
            <mat-select [(ngModel)]="version">
              <mat-option *ngFor="let ver of versions" [value]="ver">{{ver}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="custom-form-field">
          <mat-label>Dal Brand & SKU Id:</mat-label>
          <mat-select [(ngModel)]="brandSKU">
            <mat-option *ngFor="let dal of dalBrandSKU" [value]="dal.id">{{dal.brandAndSku}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
          <button mat-raised-button color="primary" (click)="getQRCodes();">Show</button>
      </div>
  </div>

  <div style="padding: 20px 0;">
    <!-- <div *ngFor="let x of batchCodes" fxLayoutAlign="center">
      <p>{{x.qrCode}}</p>
    </div> -->
    <table style="margin: auto;" *ngIf="batchCodes.length > 0">
        <tr>
          <th>QRCode</th>
          <!-- <th>Lastname</th> -->
        </tr>
        <tr *ngFor="let x of batchCodes">
          <td>{{x.qrCode}}</td>
        </tr>
        <!-- <tr>
          <td>Lois</td>
          <td>Griffin</td>
        </tr> -->
      </table>
   
  </div>

  <mat-toolbar color="primary">
    <div fxLayoutAlign="center">View Codes</div>
  </mat-toolbar>

  <div style="margin: 30px 80px 20px" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>Select QR Code</mat-label>
      <mat-select (selectionChange)="currentSelectedFormat($event);">
        <mat-option *ngFor="let qr of qrCodes" [value]="qr.id">
          {{qr.formatData ? qr.formatData.formatName : ''}}
          <!-- {{qr.formatData | json}} -->
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="padding-top: 20px;">
      <button mat-raised-button color="primary" (click)="printSelected();">Print</button>
    </div>
  </div>

  <hr/>