.label-toolbar {
    height: 20px;
    font-size: 12px;
    background: #00ffa1;
    color: #FFF;
}

.first-item {
    padding-top: 20px;
}

table {
    border-collapse: collapse;
}
  
table, td, th {
border: 1px solid black;
padding: 5px;
}